/* Uso de Import */
/* Variables */
.pd-1 {
  /* Uso de Operaciones */
  padding: 0.5em;
}

.pd-2, .button, .front-img .front-img__text .input-email button {
  /* Uso de Operaciones */
  padding: 1em;
}

.pd-3 {
  /* Uso de Operaciones */
  padding: 1.5em;
}

.pd-4 {
  /* Uso de Operaciones */
  padding: 2em;
}

.pd-5 {
  /* Uso de Operaciones */
  padding: 2.5em;
}

/* Uso de @each */
.bg-orange {
  background-color: #FF6815;
}

.bg-redorange {
  background-color: #F43401;
}

.bg-someblack {
  background-color: #282B33;
}

.bg-gray {
  background-color: #535B64;
}

.fz-small {
  font-size: 0.8rem;
}

.fz-medium {
  font-size: 1rem;
}

.fz-large {
  font-size: 1.2rem;
}

.fz-x-large {
  font-size: 1.5rem;
}

.fz-xx-large {
  font-size: 2rem;
}

/* Uso de @while y @if para generar clases de ancho pero solo de 0%, 25%, 50%, 75% y 100% */
.width-0 {
  width: 0%;
}

.width-25 {
  width: 25%;
}

.width-50 {
  width: 50%;
}

.width-75 {
  width: 75%;
}

.width-100 {
  width: 100%;
}

/* header */
header {
  width: 100vw;
  justify-content: center;
  padding: 1em;
}
header .logo {
  justify-content: start;
  align-items: center;
  color: #535B64;
  width: 30%;
  font-weight: bold;
}
header nav {
  justify-content: center;
  align-items: center;
  width: 40%;
}
header nav li {
  padding: 1em;
  border-radius: 5%;
  cursor: pointer;
}
header nav li:hover {
  transition: all 0.25s linear;
  transform: scale(1.01);
  background-color: #FF6815;
  font-weight: bold;
  color: #fff;
}
header .social-icons {
  width: 10%;
  justify-content: space-around;
  align-items: center;
}
header .social-icons ion-icon {
  color: #282B33;
  cursor: pointer;
}
header .social-icons ion-icon:hover {
  color: #FF6815;
}

footer {
  background-color: #282B33;
  color: #fff;
  padding: 2rem;
  text-align: center;
  width: 100%;
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer a:hover {
  text-decoration: underline;
}

/* Estilos generales */
html {
  scroll-behavior: smooth;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

li {
  text-decoration: none;
  list-style: none;
}

.container {
  display: flex;
}

.grid {
  display: grid;
}

body {
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.button, .front-img .front-img__text .input-email button {
  border: none;
  /* uso de @extend */
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 0.25em;
  cursor: pointer;
}

/* IMAGEN PORTADA */
.front-img {
  width: 80vw;
  height: 70vh;
  background-image: url("/img/obrero.jpg");
  background-repeat: no-repeat;
  background-position: center;
  /* uso de operaciones */
  background-size: 100% 100%;
}
.front-img .front-img__text {
  width: 30%;
  flex-direction: column;
  justify-content: center;
  align-items: start;
  gap: 5%;
}
.front-img .front-img__text h1 {
  background: #FF6815;
  background: linear-gradient(90deg, rgb(255, 107, 27) 0%, rgb(226, 53, 0) 100%);
  font-size: 6em;
  color: transparent;
  -webkit-background-clip: text;
          background-clip: text;
}
.front-img .front-img__text p {
  font-style: italic;
  font-weight: 500;
}
.front-img .front-img__text .input-email {
  width: 100%;
}
.front-img .front-img__text .input-email input {
  border: none;
  padding: 3%;
  opacity: 80%;
  width: 70%;
  outline: none;
}
.front-img .front-img__text .input-email button {
  background: #FF6815;
  background: linear-gradient(90deg, rgb(253, 99, 16) 0%, rgb(191, 45, 0) 100%);
  color: #fff;
}

/* RECUADROS */
.services {
  /* uso de operaciones */
  width: 70%;
  padding: 2.5%;
  grid-template-columns: repeat(4, 1fr);
}
.services .services-item {
  height: auto;
  width: 100%;
  max-width: 293px;
  flex-direction: column;
  gap: 1em;
  padding: 10%;
  color: #fff;
  cursor: pointer;
  transition: all 1s;
  /* uso de operaciones */
}
.services .services-item:hover {
  position: relative;
  transform: translateX(-25%);
  width: 125%;
  max-width: 370px;
}
.services .services-item h3 {
  font-size: 3.5em;
}
.services .services-item p {
  width: 80%;
  max-width: 230px;
  color: rgba(255, 255, 255, 0.5843137255);
}
.services .services-item span {
  font-size: 5em;
}/*# sourceMappingURL=style.css.map */